*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.atlas_private_api_key
.atlas_public_api_key
.build/
.classpath
.gradle/
.idea/
.mongodb_password
.mongodb_username
.project
.realm_app_id
.rubygems/
.settings
.vscode/
Carthage/
Pods/
bin/
build/
gradlew.bat
node_modules/
xcuserdata
